<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="index"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dodatkowe wyposażenie</title>
</head>
<body>

<div layout:fragment="main" style="margin: 0 auto; max-width: 1000px;">
    <div class="btn-group" role="group" aria-label="..." style="margin: 20px 0;">
        <button type="button" class="btn btn-default"><a href="accessories.html" th:href="@{'/addNewAccessory'}">Dodaj akcesorium</a></button>
    </div>
    <div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Dostępne akcesoria:</div>
            <!-- Table -->
            <table class="table">
                <!-- head row -->
                <tr style="font-weight: bold;">
                    <td class="col-md-2">Nazwa</td>
                    <td class="con-md-2">Cena [PLN]</td>
                    <td class="col-md-2">Edytuj</td>
                    <td class="col-md-2">Usuń</td>
                    <td class="col-md-2">Podgląd</td>
                </tr>
                <tr th:each="accessory : ${accessories}">
                    <td th:text="${accessory.accessory.value}"></td>
                    <td th:text="${accessory.cost}"></td>
                    <td><a href="accessories.html" th:href="@{'/editAccessory/'+${accessory.id}}"><span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edytuj"></span></a></td>
                    <td><a href="accessories.html" th:href="@{'/deleteAccessory/'+${accessory.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Usuń"></span></a></td>
                    <td><a href="accessories.html" th:href="@{'/viewAccessory/'+${accessory.id}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Podgląd"></span></a></td>
                </tr>
            </table>
        </div>
    </div>

    <!--Modify accessory-->
    <form th:if="${controlsPanelVisible}" class="form-horizontal" role="form" method="post" action="/modifyAccessory" th:object="${accessory}">
        <input type="hidden" style="display: none;" name="id" th:field="*{id}"/>
        <div class="form-group">
            <label class="control-label col-sm-2">Nazwa:</label>
            <div class="col-sm-10">
                <select type="text" name="name" list="accessoryList" required="required" class="form-control" aria-label="...">
                    <datalist id="accessoryList">
                        <option th:disabled="${controlsDisabled}"></option>
                        <option th:disabled="${controlsDisabled}" th:each="accessoryName : ${accessoryNames}" th:value="${accessoryName.id}" th:text="${accessoryName.value}" th:selected="${accessoryName.id}==${accessoryNameId}"></option>
                    </datalist>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Cena [PLN]:</label>
            <div class="col-sm-10">
                <input placeholder="Wprowadź cenę" th:disabled="${controlsDisabled}" th:field="*{cost}" name="cost" type="number" min="0" max="999999" class="form-control" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" th:disabled="${controlsDisabled}" class="btn btn-default" >Akceptuj</button>
                <button type="reset" th:disabled="${controlsDisabled}" class="btn btn-default">Anuluj zmiany</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>