<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="index">
<head>
    <title>Sprzedaże</title>
</head>
<body>
<div layout:fragment="main" style="margin: 0 auto; max-width: 1000px;">
    <div class="btn-group" role="group" aria-label="..." style="margin: 20px 0;">
        <a class="btn btn-default" href="contracts.html" th:href="@{/contactAdditions}">Nowa sprzedaż</a>
    </div>
    <!-- Contract all view-->
    <div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Dokonane sprzedaże:</div>

            <!-- Table -->
            <table class="table">
                <!-- head row -->
                <tr style="font-weight: bold;">
                    <td class="col-md-3">Sprzedający</td>
                    <!--<td class="col-md-3">Data wystawienia faktury</td>-->
                    <td class="col-md-2">Kontrahent</td>
                    <td class="col-md-2">Kwota transakcji</td>
                    <td class="col-md-1">Edytuj</td>
                    <td class="col-md-1">Usuń</td>
                </tr>

                <tr th:each="contract : ${contracts}">
                    <td th:text="${contract.worker.surname}"></td>
                    <!--<td th:text="${contract.invoice.dateCreated}"></td>-->
                    <div th:if="${contract.contractor}"><td th:text="${contract.contractor.surname}"></td></div>
                    <div th:unless="${contract.contractor}"><td></td></div>
                    <td th:text="${contract.totalCost}"></td>
                    <td><a href="contracts.html" th:href="@{'/editContract/'+${contract.id}}" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td><a href="contracts.html" th:href="@{'/deleteContract/'+${contract.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>
            </table>
        </div>
        <br/>
        <div th:if="${carView}" >

            <!-- Add cars-->
            <!--<div class="row">-->
                <!--<h2>Wybrane przez Ciebie samochody:</h2>-->
            <!--</div>-->

            <div th:if="${choosenCar}" class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <table class="table">
                        <tr>Wybrane przez Ciebie samochody:</tr>
                        <tr th:each ="item : ${choosenCar}">
                            <td th:text="${item.carName.value}"/>
                            <td><a href="contracts.html" th:href="@{'/deleteChoosenCar/'+${item.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>

                            <br/>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
            <form class="form-horizontal" role="form" method="post" action="/addCar">
                <div class="form-group">
                    <label class="control-label col-sm-2">Samochody:</label>
                    <div class="col-sm-10">
                        <select name="car" class="form-control" aria-label="..." >
                            <option th:value="-1" text="Samochód:"></option>
                            <option  th:each="c : ${cars}" th:value="${c.id}" th:text="${c.carName.value}" th:selected="${c.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Ok</button>
                    </div>
                </div>

            </form>
            <br/>
            <!-- Add accessories-->
            <div th:if="${choosenAccessories}" class ="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <table class="table">
                        <tr>Wybrane przez Ciebie częsci samochodowe:</tr>
                        <tr th:each ="item : ${choosenAccessories}">
                            <td th:text="${item.accessory.value}"/>
                            <td><a href="contracts.html" th:href="@{'/deleteChoosenAccessories/'+${item.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                            <br/>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>

            <form class="form-horizontal" role="form" method="post" action="/addAccessory">
                <div class="form-group">
                    <label class="control-label col-sm-2">Akcesoria:</label>
                    <div class="col-sm-10">
                        <select name="accessory" class="form-control" aria-label="..." >
                            <option th:value="-1" text="Akcesoria:"></option>
                            <option  th:each="c : ${accessories}" th:value="${c.id}" th:text="${c.accessory.value}" th:selected="${c.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Ok</button>
                    </div>
                </div>
            </form>

            <!-- Add actual promotion -->
            <!--<div class="row">-->
                <!--<h2>Wybrane promocje:</h2>-->
            <!--</div>-->
            <div th:if="${choosenPromotion}">
                <div class="col-sm-offset-2 col-sm-10">
                    <table class="table">
                        <tr>Wybrane promocje:</tr>
                        <tr th:each ="item : ${choosenPromotion}">
                            <td th:text="${item.name}"/>
                            <td><a href="contracts.html" th:href="@{'/deleteChoosenPromotion/'+${item.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                            <br/>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
            <form th:if="${promotionView}" class="form-horizontal" role="form" method="post" action="/addPromotion">
                <div class="form-group">
                    <label class="control-label col-sm-2">Aktualne promocje:</label>
                    <div class="col-sm-10">
                        <select name="promotion" class="form-control" aria-label="..." >
                            <option th:value="-1" text="Promocje:"></option>
                            <option  th:each="c : ${promotions}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Ok</button>
                    </div>
                </div>
            </form>
            <br/>

            <form class="form-horizontal" role="form" method="post" action="/confirmContract">
                <!-- Add client-->
                <div class="form-group">
                    <label class="control-label col-sm-2">Klient:</label>
                    <div class="col-sm-10">
                        <select name="client" class="form-control" aria-label="..." >
                            <option th:value="-1" text="Klient:"></option>
                            <option  th:each="c : ${contractors}" th:value="${c.id}" th:text="${c.surname}" th:selected="${c.id}"></option>
                        </select>
                    </div>
                </div>

                <!-- Go to make invoice-->
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Generuj fakture</button>
                </div>

            </form>
        </div>
    </div>

</div>
</body>
</html>