<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Value: ' + ${name}" />
<p th:text="'Foreign value: ' + ${name2}" />
<table>
    <tr class="info">
        <th width="200">id</th>
        <th width="200">showroom</th>
        <th width="200">idName</th>
        <th width="50">prodDate</th>
    </tr>
    <tr th:each ="c : ${cars}" >
        <td th:text="${c.id}"/>
        <td th:text="${c.showroom}"/>
        <td th:text="${c.idName}"/>
        <td th:text="${c.prodDate}"/>
    </tr>
</table>
</body>
</html>