<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="pl">
    <meta charset="UTF-8"/>
    <title>Salon samochodowy</title>
    <!-- Jquery 2.2.3 -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <!-- Core files -->
    <script src="../static/jquery/jquery-alert-dialogs/js/jquery.alerts.js" th:src="@{/../jquery/jquery-alert-dialogs/js/jquery.alerts.js}" type="text/javascript"></script>
    <link href="../static/jquery/jquery-alert-dialogs/css/jquery.alerts.css" th:href="@{/../jquery/jquery-alert-dialogs/css/jquery.alerts.css}"  rel="stylesheet" type="text/css" media="screen" />
    <script src="../static/jquery/jquery-alert-dialogs/js/jquery.js" th:src="@{/../jquery/jquery-alert-dialogs/js/jquery.js}" type="text/javascript"></script>
    <script src="../static/jquery/jquery-alert-dialogs/js/jquery.ui.draggable.js" th:src="@{/../jquery/jquery-alert-dialogs/js/jquery.ui.draggable.js}" type="text/javascript"></script>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
            th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Datepicker -->
    <!--<link rel="stylesheet" href="http://eyecon.ro/bootstrap-datepicker/css/datepicker.css"-->
          <!--th:href="@{/bootstrap/css/datepicker.css}"/>-->
    <!--<script src="http://eyecon.ro/bootstrap-datepicker/js/bootstrap-datepicker.js"-->
            <!--th:src="@{/bootstrap/js/bootstrap-datepicker.js}"></script>-->
    <!-- Font Awesome -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>-->
    <!-- Ionicons -->
    <!--<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>-->

    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" th:href="@{/../styles/style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap_style.css" th:href="@{/../styles/bootstrap_style.css}"/>
    <script type="text/javascript" src="../static/javascript/validation.js" th:src="@{/../javascript/validation.js}"></script>
    <script type="text/javascript" src="../static/jquery/jquery.tablesorter.min.js"  th:src="@{/../jquery/jquery.tablesorter.min.js}"></script>
    <script>
        $(document).ready(function(){
            $(function(){
                $("#mytable").tablesorter();
            });
        });
    </script>
    <script>$(document).ready(function() {
        $(".search").keyup(function () {
            var searchTerm = $(".search").val();
            var listItem = $('.results tbody').children('tr');
            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
            $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
            }
            });
            $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
                $(this).attr('visible','false');
            });
            $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
                $(this).attr('visible','true');
            });
            var jobCount = $('.results tbody tr[visible="true"]').length;
            $('.counter').text(jobCount + ' item');
            if(jobCount == '0') {$('.no-result').show();}
            else {$('.no-result').hide();}
        });
    });</script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div  th:unless="${userNotLoggedIn}">
        <header layout:fragment="content" id="nav-menu" style="margin:0 auto">
            <nav >
                <ul style="margin: 0 auto;  max-width:1260px;">
                    <div  th:if="${showroomsVisible}">
                        <a href="showroom.html" th:href="@{/showroom}"><li role="presentation" >SALONY</li></a>
                    </div>
                    <div  th:if="${workersVisible}">
                        <a href="worker.html" th:if="${workersVisible}" th:href="@{/worker}"><li role="presentation" >PRACOWNICY</li></a>
                    </div>
                    <a href="contracts.html" th:if="${contractsVisible}" th:href="@{/contracts}"><li role="presentation" >SPRZEDAŻE</li></a>
                    <a href="contractors.html" th:if="${contractorsVisible}" th:href="@{/contractors}"><li role="presentation" >Klienci</li></a>
                    <a href="invoices.html" th:if="${invoicesVisible}" th:href="@{/invoices}"><li role="presentation" >Faktury</li></a>
                    <a href="cars.html" th:if="${carsVisible}" th:href="@{/cars}"><li role="presentation" >Samochody</li></a>
                    <a href="reports.html" th:if="${reportsVisible}" th:href="@{/reports}"><li role="presentation" >Raporty</li></a>
                    <a href="accessories.html" th:if="${accessoriesVisible}" th:href="@{/accessories}"><li role="presentation" >Akcesoria</li></a>
                    <a href="promotions.html" th:if="${promotionsVisible}" th:href="@{/promotions}"><li role="presentation" >Promocje</li></a>
                    <a href="services.html" th:if="${servicesVisible}" th:href="@{/services}"><li role="presentation" >Serwis</li></a>
                    <a href="dictionary.html" th:if="${dictionaryVisible}" th:href="@{/dictionary}"><li role="presentation" >Słownik</li></a>
                    <a href="privileges.html" th:if="${privilegesVisible}" th:href="@{/privileges}"><li role="presentation" >Uprawnienia</li></a>
                </ul>
                <div class="my-block"></div>
                <hr/>
            </nav>
            <div class="empty"></div>
        </header>
        <div th:unless="${forbiddenAccess}" layout:fragment="main">
        </div>
        <div th:if="${forbiddenAccess}">Nie masz uprawnień by przeglądać ten moduł</div>
    </div>
    <div th:if="${userNotLoggedIn}">Zaloguj się ziomeczuuuuu</div>
</body>
</html>