<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="index">
<head>
    <title>Generuj fakture</title>
    <script>
        $(function() {
            $('.datepicker').datepicker();
        });
    </script>
</head>
<body>
<div layout:fragment="main" style="margin: 0 auto; max-width: 1000px;">

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4">Data sprzedaży:</label>
            <div class="col-sm-8">
                <p th:text="${dateCreated}"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Salon:</label>
            <div class="col-sm-8">
                <p th:text="${showroom.name}" ></p>
                <p th:text="${showroom.street}"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Klient:</label>
            <div class="col-sm-8">
                <p th:text="${contract.contractor.surname}"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Kwota transakcji:</label>
            <div class="col-sm-8">
                <p th:text="${contract.totalCost}"></p>
            </div>
        </div>
    </div>


    <form class="form-horizontal" role="form" method="post" action="/generateNew">
        <input type="hidden" name="contract_id" th:value="${contract.id}"/>

        <div class="form-group">
            <label class="control-label col-sm-4">Termin płatności:</label>
            <div class="col-sm-8">
                <input th:unless="${invoice}" th:disabled="${disabledButtons}" name = "date" type="date" class="form-control" min="2010-01-01" required="required"/>
                <input th:if="${invoice}" th:disabled="${disabledButtons}" th:value ="${paymentDeadline}" name = "date" type="date" class="datepicker form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Data wykonania transakcji:</label>
            <div class="col-sm-8">
                <input th:unless="${invoice}" th:disabled="${disabledButtons}" name = "dateSold" type="date" class="form-control" min="2010-01-01" required="required"/>
                <input th:if="${invoice}" th:disabled="${disabledButtons}" th:value ="${dateSold}"  name = "dateSold" type="date" class="datepicker form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Typ płatności:</label>
            <div class="col-sm-8">
                <select th:disabled="${disabledButtons}" name="paymentForm" class="form-control" aria-label="..." required="required">
                    <option value="" text="Płatność:"></option>
                    <option th:if="${invoice}"  th:each="c : ${paymentforms}" th:value="${c.id}" th:text="${c.value}" th:selected="${c.id}==${paymentForm.id}"></option>
                    <option th:unless="${invoice}" th:each="c : ${paymentforms}" th:value="${c.id}" th:text="${c.value}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Typ faktury:</label>
            <div class="col-sm-8">
                <select th:disabled="${disabledButtons}" name="invoiceType" class="form-control" aria-label="..." required="required">
                    <option value="" text="Faktura:"></option>
                    <option th:if="${invoice}" th:each="c : ${invoiceTypes}" th:value="${c.id}" th:text="${c.value}" th:selected="${c.id}==${invoiceType}"></option>
                    <option th:unless="${invoice}" th:each="c : ${invoiceTypes}" th:value="${c.id}" th:text="${c.value}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button th:disabled="${disabledButtons}" type="submit" class="btn btn-default">Zatwierdź</button>
            </div>
        </div>
        <div th:text="${error != null} ? ${error}" class="label label-danger"></div>
    </form>
</div>
</body>
</html>