<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="index"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Faktury</title>
</head>
<body>
<div layout:fragment="main" style="margin: 0 auto; max-width: 1000px;">
    <div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>WYGENEROWANE FAKTURY</b>
                <div class="form-group pull-right">
                    <input type="text" class="search form-control" placeholder="Wyszukaj w tabeli"/>
                </div>
                <span class="counter pull-right"></span>
            </div>

            <!-- Table -->
            <table class="table tablesorter table-hover table-bordered results" id="mytable">
                <!-- head row -->
                <thead>
                    <tr style="font-weight: bold;">
                        <td class="col-md-2">Typ</td>
                        <td class="col-md-2">Sprzedający</td>
                        <td class="col-md-2">Kontrahent</td>
                        <td class="col-md-2">Data utworzenia</td>
                        <td class="col-md-2">Data sprzedaży</td>
                        <td class="col-md-2">Kwota</td>
                        <td class="col-md-2">Termin płatności</td>
                        <td class="col-md-2">Forma płatności</td>
                        <td th:if="${deleteEnabled}" class="col-md-2">Usuń</td>
                    </tr>
                    <tr class="warning no-result">
                        <td colspan="8"><i class="fa fa-warning"></i> Brak wyników</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="invoice : ${invoices}">
                        <td th:text="${invoice.invoiceType.value}"></td>
                        <td th:text="${invoice.contract.worker.surname}"></td>
                        <td th:text="${invoice.contract.contractor.surname}"></td>
                        <td th:text="${invoice.dateCreated}"></td>
                        <td th:text="${invoice.dateSold}"></td>
                        <td th:text="${invoice.contract.totalCost}"></td>
                        <td th:text="${invoice.paymentDeadline}"></td>
                        <td th:text="${invoice.paymentForm.value}"></td>
                        <td th:if="${deleteEnabled}" ><a href="invoices.html" th:href="@{'/deleteInvoice/'+${invoice.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Usuń"></span></a></td>
                        <td><a href="invoice_generate.html" th:href="@{'/viewInvoice/'+${invoice.id}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Usuń"></span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>