<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="index">
<head>
    <title>Menu</title>
</head>
<body>
    <div layout:fragment="main" class="row " id="menuIndex2" style="max-width: 960px;" >
        <div class="col-sm-6
        col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Salony</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption ">
                    <h3>Pracownicy</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Sprzedaże</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Klienci</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Faktury</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Raporty</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Salony</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption ">
                    <h3>Pracownicy</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Sprzedaże</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Klienci</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Faktury</h3>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Raporty</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>