<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="index"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu</title>
</head>
<body>
    <div layout:fragment="main" class="row " id="menuIndex2" style="max-width: 960px;" >
        <div  th:if="${showroomsVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Salony</h3>
                </div>
            </div>
        </div>
        <div th:if="${workersVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption ">
                    <h3>Pracownicy</h3>
                </div>
            </div>
        </div>
        <div  th:if="${contractsVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Sprzedaże</h3>
                </div>
            </div>
        </div>
        <div  th:if="${clientsVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Klienci</h3>
                </div>
            </div>
        </div>
        <div  th:if="${invoicesVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Faktury</h3>
                </div>
            </div>
        </div>
        <div  th:if="${reportsVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Raporty</h3>
                </div>
            </div>
        </div>
        <div  th:if="${accessoriesVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Akcesoria</h3>
                </div>
            </div>
        </div>
        <div  th:if="${promotionsVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Promocje</h3>
                </div>
            </div>
        </div>
        <div  th:if="${servicesVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Serwis</h3>
                </div>
            </div>
        </div>
        <div  th:if="${dictionaryVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Słownik</h3>
                </div>
            </div>
        </div>
        <div  th:if="${privilegesVisible}" class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <div class="circle">
                    <img src="/image/png/calendar.png" alt="..."/>
                </div>
                <div class="caption">
                    <h3>Grupy Uprawnień</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>