<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="index"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Zmiana hasła</title>
    </head>
<body>
    <div layout:fragment="main" style ="margin: 0 auto; max-width:960px;">
        <br/>
        <form th:unless="${info}" class="form-horizontal" role="form" method="post" action="/changePassword">
            <div class="form-group">
                <label class="control-label col-sm-offset-2 col-sm-2">Stare hasło:</label>
                <div class="col-sm-4">
                    <input name="oldPassword" type="password" class="form-control" placeholder="Wprowadź stare hasło" required="required" pattern=".{3,}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-offset-2 col-sm-2">Nowe hasło:</label>
                <div class="col-sm-4">
                    <input name="password" type="password" class="form-control" placeholder="Wprowadź nowe hasło" required="required" pattern=".{3,}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-offset-2 col-sm-2">Powtórz nowe hasło:</label>
                <div class="col-sm-4">
                    <input name="confirmPassword" type="password" class="form-control" placeholder="Wprowadź nowe hasło" required="required" pattern=".{3,}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn" >Akceptuj</button>
                    <a href="worker.html" th:href="@{/resetPasswordChange}">
                        <button type="button" class="btn">Anuluj zmiany</button>
                    </a>
                </div>
            </div>
            <div  class="col-sm-10 label label-danger" th:text="${error != null} ? ${error}" >
            </div>
        </form>
        <div th:if="${info}" class="control-label">Zmieniono hasło</div>
    </div>
</body>
</html>