<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="index">
<head>
    <title>Uprawnienia</title>
</head>
<body>
<div layout:fragment="main" style="margin: 0 auto; max-width: 1000px;">
    <br/>
    <div>
        <div class="btn-group" role="group" aria-label="..." style="margin: 20px 0;">
            <a th:href="@{/addPrivileges#anch}"><button type="button" class="btn">Dodaj grupę uprawnień</button></a>
        </div>
    </div>

    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading"><b>LISTA GRUP UPRAWNIEŃ</b>
            <div class="form-group pull-right">
                <input type="text" class="search form-control" placeholder="Wyszukaj w tabeli"/>
            </div>
            <span class="counter pull-right"></span>
        </div>

        <!-- Table -->
            <table class="table tablesorter table-hover results" id="mytable">

                <thead>
                    <!-- head row -->
                    <tr style="font-weight: bold;">
                        <td class="col-md-1 change-on-hand center-item">#</td>
                        <td class="col-md-5 change-on-hand">Nazwa</td>
                        <td class="col-md-3 change-on-hand">Moduł</td>
                        <td class="col-md-1 center-item">Edytuj</td>
                        <td class="col-md-1 center-item">Usuń</td>
                        <td class="col-md-1 center-item">Podgląd</td>
                    </tr>

                </thead>

                <tbody>
                <tr th:each="privileges,stat : ${privilegesGroups}">
                    <td th:text="${stat.count}"></td>
                    <td th:text="${privileges.name}"></td>
                    <td th:text="${privileges.module.value}"></td>
                    <td class="center-item"><a href="#anch" th:href="@{'/editPrivileges/'+${privileges.id}+'#anch'}" ><span class="glyphicon glyphicon-edit" aria-hidden="true" style="height:100%;width:100%"></span></a></td>
                    <td class="center-item"><a href="privileges.html" th:href="@{'/deletePrivileges/'+${privileges.id}}"><span class="glyphicon glyphicon-minus" aria-hidden="true" style="height:100%;width:100%"></span></a></td>
                    <td class="center-item"><a href="#anch" th:href="@{'/viewPrivileges/'+${privileges.id}+'#anch'}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="height:100%;width:100%"></span></a></td>
                </tr>
                </tbody>

            </table>
        </div>
    <a name="anch"></a>
    <form th:if="${controlsPanelVisible}"  id="controlsPanel" class="form-horizontal" role="form" method="post" action="/acceptModifyPrivileges" th:object="${privilegesGroup}">
        <input type="hidden" style="display: none;" name="id" th:field="*{id}"/>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Nazwa:</label>
            <div class="col-sm-4">
                <input th:field="*{name}" th:disabled="${controlsDisabled}"  name="name" type="text" class="form-control" placeholder="Wprowadź imię klienta"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Moduł:</label>
            <div class="col-sm-4">
                <select name="city" th:disabled="${controlsDisabled}" class="form-control" aria-label="..." >
                    <option th:value="-1" text="Wybierz moduł"></option>
                    <option th:each="c : ${modules}" th:value="${c.id}" th:text="${c.value}" th:selected="${c.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Przegląd:</label>
            <div class="col-sm-1">
                <input th:field="*{readPriv}" th:disabled="${controlsDisabled}"  name="name" type="checkbox" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Dodawanie:</label>
            <div class="col-sm-1">
                <input th:field="*{insertPriv}" th:disabled="${controlsDisabled}"  name="name" type="checkbox" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Modyfikacja:</label>
            <div class="col-sm-1">
                <input th:field="*{updatePriv}" th:disabled="${controlsDisabled}"  name="name" type="checkbox" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Usuwanie:</label>
            <div class="col-sm-1">
                <input th:field="*{deletePriv}" th:disabled="${controlsDisabled}"  name="name" type="checkbox" class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" th:disabled="${controlsDisabled}" class="btn" >Akceptuj</button>
                <button type="reset" th:disabled="${controlsDisabled}" class="btn">Anuluj zmiany</button>
            </div>
        </div>


    </form>
</div>
    <br/>
</body>
</html>