<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="index">
<head>
    <title>Promocje</title>
</head>
<body>
<div layout:fragment="main" style="margin: 0 auto; max-width: 1000px;">
    <br/>
    <div th:if="${insertEnabled}">
        <div class="btn-group" role="group" aria-label="..." style="margin: 20px 0;">
            <a th:href="@{/addNewPromotion#anch}"><button type="button" class="btn">Dodaj promocję</button></a>
        </div>
    </div>
    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading"><b>LISTA PROMOCJI</b>
            <div class="form-group pull-right">
                <input type="text" class="search form-control" placeholder="Wyszukaj w tabeli"/>
            </div>
            <span class="counter pull-right"></span>
        </div>
        <!-- Table of showrooms -->
        <table class="table tablesorter table-hover results" id="mytable">
            <!-- head row -->
            <thead>
            <tr style="font-weight: bold;">
                <td class="col-md-4 change-on-hand">Nazwa</td>
                <td class="con-md-1 change-on-hand">Rabat</td>
                <td class="con-md-2 change-on-hand">Data rozpoczęcia</td>
                <td class="con-md-2 change-on-hand">Data zakończenia</td>
                <td th:if="${updateEnabled}" class="col-md-1 center-item">Edytuj</td>
                <td th:if="${deleteEnabled}" class="col-md-1 center-item">Usuń</td>
                <td class="col-md-1 center-item">Podgląd</td>
            </tr>
            <!-- Show when result not found -->
            <tr class="no-result">
                <td colspan="7"><b>Brak wyników wyszukiwania</b></td>
            </tr>
            </thead>
            <!-- body row -->
            <tbody>
            <tr th:each="promotion : ${promotions}">
                <td th:text="${promotion.name}"></td>
                <td th:text="${promotion.percValue}"></td>
                <td th:text="${promotion.dateStart}"></td>
                <td th:text="${promotion.dateEnd}"></td>
                <td th:if="${updateEnabled}" class="center-item"><a href="promotions.html" th:href="@{'/editPromotion/'+${promotion.id}+'#anch'}"><span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edytuj" style="height:100%;width:100%"></span></a></td>
                <td th:if="${deleteEnabled}" class="center-item"><a href="promotions.html" th:href="@{'/deletePromotion/'+${promotion.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Usuń" style="height:100%;width:100%"></span></a></td>
                <td class="center-item"><a href="promotions.html" th:href="@{'/viewPromotion/'+${promotion.id}+'#anch'}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Podgląd" style="height:100%;width:100%"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>

    <!--Modify promotion-->
    <a name="anch"></a>
    <form th:if="${controlsPanelVisible}" class="form-horizontal" role="form" method="post" action="/modifyPromotion" th:object="${promotion}">
        <input type="hidden" style="display: none;" name="id" th:field="*{id}"/>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Nazwa:</label>
            <div class="col-sm-4">
                <input placeholder="Wprowadź nazwę" th:disabled="${controlsDisabled}" th:value="${promotionName}" name="name" type="text" class="form-control" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Procent obniżki:</label>
            <div class="col-sm-4">
                <input placeholder="Wprowadź procent obniżki" th:disabled="${controlsDisabled}" th:value="${promotionPercValue}" name="percValue" type="number" min="0" max="100" class="form-control" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Data rozpoczęcia promocji:</label>
            <div class="col-sm-4">
                <input id="date" onfocus="loadCurrentDate('min');" th:disabled="${controlsDisabled}" th:field="*{dateStart}" name="dateStart" type="date" max="9999-12-31" class="form-control" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Data zakończenia promocji:</label>
            <div class="col-sm-4">
                <!--dataRozpoczęcia < dataZakończenia-->
                <input id="date2" onfocus="loadStartDate();" th:disabled="${controlsDisabled}" th:field="*{dateEnd}" name="dateEnd" type="date" class="form-control" min="*{dateStart}" max="9999-12-31" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" th:disabled="${controlsDisabled}" class="btn" >Akceptuj</button>
                <!--<button type="reset" th:disabled="${controlsDisabled}" class="btn">Anuluj zmiany</button>-->
                <a href="promotions.html" th:href="@{/resetPromotionChange}">
                    <button type="button" th:disabled="${controlsDisabled}" class="btn">Anuluj zmiany</button>
                </a>
            </div>
        </div>
    </form>
    <br/>
</div>
</body>
</html>