<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="index">
<head>
    <title>Pracownicy</title>
</head>
<body>
<div layout:fragment="main" style="margin: 0 auto; max-width: 1000px;">
    <div class="btn-group" role="group" aria-label="..." style="margin: 20px 0;">
        <a th:href="@{/addWorker}+'#anch'"><button type="button" class="btn ">Dodaj pracownika</button></a>
    </div>
    <div>
        <div class="panel">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>LISTA PRACOWNIKÓW</b>
                <div class="form-group pull-right">
                    <input type="text" class="search form-control" placeholder="Wyszukaj w tabeli"/>
                </div>
                <span class="counter pull-right"></span>
            </div>

            <!-- Table -->
            <table class="table tablesorter table-hover table-bordered results" id="mytable">
                <!-- head row -->

               <thead>
                   <tr style="font-weight: bold; margin: 0 auto;">
                       <td class="col-md-1 change-on-hand center-item">#</td>
                       <td class="col-md-2 change-on-hand">Imię</td>
                       <td class="col-md-2 change-on-hand">Nazwisko</td>
                       <td class="col-md-2 change-on-hand">Pozycja</td>
                       <td class="col-md-2 change-on-hand">Salon</td>
                       <td class="col-md-1 center-item">Edytuj</td>
                       <td class="col-md-1 center-item">Usuń</td>
                       <td class="col-md-1 center-item">Podgląd</td>
                   </tr>
                   <tr class="warning no-result">
                       <td colspan="8"><i class="fa fa-warning"></i> Brak wyników</td>
                   </tr>
               </thead>
                <tbody>
                    <tr th:each="worker : ${workers}">
                        <td class="center-item" th:text="${worker.id}"></td>
                        <td th:text="${worker.name}"></td>
                        <td th:text="${worker.surname}"></td>
                        <td th:text="${worker.position.value}"></td>
                        <td th:if="${worker.showroom}" th:text="${worker.showroom.name}"></td>
                        <td th:unless="${worker.showroom}" >null</td>
                        <td class="center-item">
                            <a th:href="@{'/editWorker/'+${worker.id}+'#anch'}" >
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="height:100%;width:100%">
                                </span>
                            </a>
                        </td>
                        <td class="center-item">
                            <a th:href="@{'/deleteWorker/'+${worker.id}}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="height:100%;width:100%"></span>
                            </a>
                        </td>
                        <td class="center-item">
                            <a th:href="@{'/viewWorker/'+${worker.id}+'#anch'}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="height:100%;width:100%">
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Add worker-->
    <a name="anch"></a>
    <!--Edit worker-->
    <form th:if="${controlsPanelVisible}" id="menuForm"  name="menuForm" class="form-horizontal" role="form" method="post" action="/acceptModifyWorker" th:object="${worker}">
        <input type="hidden" style="display: none;" name="id" th:field="*{id}"/>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Imię:</label>
            <div class="col-sm-4">
                <input th:disabled="${controlsDisabled}" th:field="*{name}" name="name" type="text" class="form-control" placeholder="Wprowadź imię" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Nazwisko:</label>
            <div class="col-sm-4">
                <input  th:disabled="${controlsDisabled}" th:field="*{surname}" name="surname" type="text" class="form-control" placeholder="Wprowadź nazwisko" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Płaca:</label>
            <div class="col-sm-4">
                <input  th:disabled="${controlsDisabled}" th:field="*{payment}" name="payment" type="number" min="0" class="form-control" placeholder="Wprowadź kwotę"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Data przyjęcia:</label>
            <div class="col-sm-4">
                <!--PAMIETAJ O DODANIU SPR AKTUALNEJ DATY-->
                <input  id="date" onfocus="loadCurrentDate('max');" th:disabled="${controlsDisabled}" th:field="*{dateHired}" name="dateHired" type="date" class="form-control" min="1970-01-01" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Pozycja:</label>
            <div class="col-sm-4">
                <select  th:disabled="${controlsDisabled}" onchange="disableShowroom()" id ="position" name="position" class="form-control" aria-label="..." required="required">
                    <option value="" text="Wybierz pozycję"></option>
                    <option  th:each="p : ${positions}" th:value="${p.id}" th:text="${p.value}" value ="Dyrektor" th:selected="${p.id}==${positionId}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Salon:</label>
            <div class="col-sm-4">
                <select  th:disabled="${controlsDisabled}" name="showroom" id="showroom" class="form-control" aria-label="...">
                    <option th:value="-1" text="Wybierz salon"></option>
                    <option th:each="s : ${showrooms}" th:value="${s.id}" th:text="${s.name}" th:selected="${s.id}==${showroomId}"></option>
                </select>
            </div>
        </div>
        <div  th:if="${controlsLoginVisible}" class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Login:</label>
            <div class="col-sm-4">
                <input th:disabled="${controlsDisabled}" th:field="*{login}" name="login" type="text" class="form-control" placeholder="Wprowadź login" required="required"/>
            </div>
        </div>
        <div th:if="${controlsPasswordVisible}" class="form-group">
            <label class="control-label col-sm-offset-2 col-sm-2">Hasło:</label>
            <div class="col-sm-4">
                <input  th:disabled="${controlsDisabled}" th:field="*{password}" name="password" type="password" class="form-control" placeholder="Wprowadź hasło" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button onclick="validateActualDate()" type="submit" th:disabled="${controlsDisabled}" class="btn btn-default" >Akceptuj</button>
                <button type="reset" th:disabled="${controlsDisabled}" class="btn btn-default">Anuluj zmiany</button>
            </div>
        </div>
    </form>
    <br/>
</div>
</body>
</html>